{% extends "base.html" %}{% block page %}
<div data-role="page" id="page_login">

	<div data-role="header">
		<h1>Log in</h1>
		<a href="#" data-rel="back" class="ui-btn-left">Cancel</a>
	</div>

	<div data-role="content">

		<form action="{% url login %}" method="post" data-transition="pop">
			{% csrf_token %}
			<fieldset class="ui-hide-label">

				{{ form.as_p }}
				<button type="submit" data-inline="true" data-theme="b"
					name="submit" value="login">Login</button>

				<p>
					Don't have an account? <a href="{% url signup %}">Sign up</a>
				</p>

			</fieldset>

		</form>

	</div>
	<div data-role="footer" data-position="fixed">
		<h4>Page Footer</h4>
	</div>
</div>
<!-- /page -->

{% endblock %}
