<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Multi-page template</title>
<link rel="stylesheet"
	href="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.css" />
<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script
	src="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.js"></script>
</head>


<body>

	<div data-role="page" id="page_login">

		<div data-role="header" data-position="inline">
			<h1>Log in</h1>
			<a href="#" class="ui-btn-right">Cancel</a>
		</div>

		<div data-role="content" data-theme="c" data-inset="true">

			<form action="{% url login %}" method="post" data-transition="pop">
				{% csrf_token %}
				<fieldset class="ui-hide-label">

					{{ form.as_p }}
					<button type="submit" data-inline="true" data-theme="b"
						name="submit" value="login">Login</button>

					<p>
						Don't have an account? <a href="{% url signup %}">Sign up</a>
					</p>

				</fieldset>

			</form>

		</div>
		<div data-role="footer" data-position="fixed">
			<h4>Page Footer</h4>
		</div>
	</div>

</body>
</html>